<%- include('./layouts/headStart') %>

<%- include('./layouts/headContent') %>

<title>Drive Test | Login</title>

<%- include('./layouts/headEnd') %>

<body>
    <%- include('./layouts/header') %>
    <main>
        <h1>
            404
        </h1>
        <h1>
            Page not fond please <a href="/">click here</a> to go to home page
        </h1>
    </main>
    <%- include('./layouts/footer') %>
</body>

</html>
